<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="ipaddress"   id="host" default="127.0.0.1"/>
        <setting label="32012" type="select"   id="fps" values="30fps|60fps" default="60fps"/>
        <setting label="32013" type="select"   id="width" values="1080p|720p" default="1080p"/>
        <setting label="32032" type="lsep"/>
        <setting label="32014" type="select" id="controller" values="Xbox360|Xbox360 Wireless|Dualshock|Default|Custom Mapping" default="Default"/>
        <setting label="32015" type="file"   id="map" enable="eq(-1,Custom Mapping)" default=""/>
        <setting label="32033" type="lsep"/>
        <setting label="32016" type="text"   id="args" default=""/>
    </category>
</settings>
